{% extends 'base.html.twig' %}

{% block title %}Recipe - Modification du mot de passe de l'utilisateur
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Formulaire de modification des mots de passe de l'utilisateur</h1>


        {# read and display just one flash message type #}
        {% for message in app.flashes('danger')  %}
            <div class="alert alert-danger mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}