<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
    <h1>Demande de {{ contact.fullName }}</h1>

    <p>Email : {{ contact.email }}</p>
    <p>Sujet : {{ contact.subject }}</p>
    <p>Message :</p>
    <div>
        {{ contact.message|raw }}
    </div>
</body>
</html>